body {
    background:#fafbff;
    color: #616b8a;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 15px;
    overflow: auto;
}
.navbar {
    position: fixed;
    background: white;
    top: 0;
    right: 0;
    left: 0;
    transition: top 0.3s ease;
    z-index: 10;
}
.navbar-content {
    height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0 50px 0 50px;
    -webkit-align-items: center;
    box-shadow: 0px 5px 20px 5px #f6f7fa;
}
.navbar-logo {
    text-decoration: none;
    font-size: 11px;
    font-family: "Exo 2";
    font-weight: bold;
    letter-spacing: 1px;
}
.ver-1 {
    font-weight: lighter;
    font-size: 10px;
    letter-spacing: initial;
    text-transform: none;
}
.navbar a {
    cursor: pointer;
}
.fas fa-map-marker-alt {
    width: 45px;
    height: 45px;
    border: 2px solid #524c4c;
    border-radius: 50px;
    padding: 8px 10px;
}
.fas fa-map-marker-alt:before {
    content: '\f3c5';
    width: 45px;
    height: 45px;
    border: 2px solid #524c4c;
    border-radius: 50px;
    padding: 8px 10px;
}
.fa, .fas {
    font-size: 20px;
    color: #f2f3f5;
    background-color: #618bdb;
    border-radius: 50px;
    padding: 8px 10px;
    margin-right: 10px;
}
.navbar-nav {
    padding: 0px 20px;
    font-size: 10px;
    display: -webkit-inline-box;
    flex: 1;
}
.navbar-nav-item {
    display: block;
    padding: 0 15px;
    text-decoration: none;
}
.navbar input {
    width: 350px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: lighter;
    background-color: #f7f8fc;
    background-image: url('images/search-icon.svg');
    background-position: 10px 10px; 
    background-position-y: center;
    background-size: 15px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 35px; 
}
.user-profile img{
    width: 35px;
    height: 35px;
    padding: 0px 30px;
    border-radius: 50%;
}
.main-content-block {
    position: relative;
    margin: 0 50px;
    padding: 60px 0;
    min-height: 500px;
}
.al-content {
    padding: 20px 0px;
    position: relative;
}
.row {
    display: flex;
}
.content-block-1 {
    width: 35%;
    margin-right: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 5px 20px 5px #f6f7fa;
}
.unviversity-info {
    border-bottom: 1px solid #f6f6f8;
}
.university-info-block-1 {
    padding: 20px 10px 10px 20px;
    display: flex;
    align-items: center;
}
.qr-code {
    width: 20px;
    height: 20px;
    background-color: #fefffe;
    margin-left: 10px;
    padding: 5px;
    box-shadow: 0px 0px 9px 1px #f6f7fa;
}
.right-arrow {
    width: 20px;
    margin-right: 10px;
    height: 20px;
    background-color: #fefffe;
    margin-left: auto;
    padding: 5px;
    cursor: pointer;
}
.university-id {
    padding: 10px 10px 10px 20px;

}
.id-block {
    font-size: 14px;
    display: flex;
    letter-spacing: 0.3px;
    color: #698bca;
    font-weight: lighter;
    margin-left: 5px;
    margin-bottom: 10px;   
}
.copy-in-buffer-button {
    font: 10px Roboto,sans-serif;
    color: #9fabbe;
    font-weight: lighter;
    line-height: 1.3333333;
    border-radius: 1px;
    cursor: pointer;
    background: #e9f3fd;
    border: none;
    padding: 7px 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.main-info {
    font-family: Arial, sans-serif;
    padding: 5px 10px 20px 20px;
    font-size: 14px;
    text-align: left;
    font-weight: lighter;
    color: #9ca3b6;
}
.profile-info {
    padding-top: 20px;
    display: flex;
    margin-right: 10px;
}
.profile-info-label {
    font-weight: bolder;
    padding-left: 10px;
    position: relative;
    color: #808080;
    margin-right: 10px;
    width: 100px;
    text-align: left;
    padding-top: 8px;
}
.profile-user-info {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 360px;
}
.button-wrapper {
    border-top: 1px solid #f6f6f8;
    text-align: center;
    margin: 5px 0;
    padding: 25px 22px;
}
.edit-profile-button {
    width: 85%;
    font: 12px Roboto,sans-serif;
    background: #e85151;
    border-color: #e85151;
    color: #fff;
    padding: 12px 16px;
    font-weight: lighter;
    line-height: 1.3333333;
    border-radius: 6px;
    transition: all .1s ease;
    cursor:  pointer;
}
.content-block-2 {
    width: 65%;
    padding-right: 15px;
    padding-left: 15px;
}
.geo-message-wrapper {
    min-height: 10%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 5px 20px 5px #f6f7fa;
    margin-bottom: 20px;
}
.geo-message-info {
    margin: 0px 10px 0px 15px;
    display: flex;
    padding-top: 15px;
}
.message-icon-wrapper {
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: #84d68e;
    border-radius: 50px;
    padding: 2px;
}
.message-icon {
    width: 20px;
    height: 10px;
}
.message-block {
    font-family: Arial,sans-serif;
    padding: 0px 10px 10px 15px;
    letter-spacing: 0.5px;
}
.map-block {
    min-height: 85%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 5px 20px 5px #f6f7fa;
}
.al-footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transition: padding-left .5s ease;
    display: flex;
    padding: 0 50px 0 50px;
    -webkit-align-items: center;
    box-shadow: 0px -5px 20px 5px #f6f7fa;
}
.al-footer-main {
    float: left;
    margin-left: 15px;
}
.al-footer-right {
    flex: 1;
}
.footer-navbar-nav {
    padding: 0px 20px;
    font-size: 10px;
    display: -webkit-inline-box;   
}
.footer-navbar-item {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: #616b8a;
}
.social {
    padding-right: 30px;
}
.social a i {
    padding-right: 10px;
}
.social a {
    text-decoration: none; 
}
.socicon {
    padding: 0px 10px;
    display: -webkit-inline-box;  
    text-align: -webkit-center;
    color: #85a2d8;   
}
.socicon-facebook:before {
    content: "\e028";
}
.socicon-twitter:before {
    content: "\e08d";
}
.socicon-instagram:before {
    content: "\e044";
}
.socicon-vimeo:before {
    content: "\e093";
}